body {
    font: 10px sans-serif;
}

rect {
    fill: #4E8899;
    opacity: 0.2;
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
}

.line {
    fill: none;
    stroke: #31b0d5;
    stroke-width: 3px;
    opacity: 0.8;
}

.row {
    margin-bottom: 15px;
}
