body {
    font: 10px sans-serif;
}

rect {
    fill: #15BEBF;
    opacity: 0.2;
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
}

.line {
    fill: none;
    stroke: #15BEBF;
    stroke-width: 3px;
    opacity: 0.8;
}

