body {
    font: 10px sans-serif;
}

svg {
    shape-rendering: crispEdges;
}

rect {
    fill: #ddd;
}

.axis path, .axis line {
    fill: none;
    stroke: #fff;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

